
# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates
.vs/

# Build results
[Bb]inaries/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac desktop service store files
.DS_Store
